*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
gradlew
gradlew.bat
.name
misc.xml
vcs.xml
Project.xml
Project_Default.xml
Gradle-wrapper.jar
Gradle-wrapper.properties